:root{
  --max-width-size: 1920px;
  --color-bluelight:#9ec6e0;
  --color-pinklight:#ffb6c1;
  --color-light:#ffe4c4;
  --color-white: #ffffff;
  --color-orangelight:#f5926e;
  --color-black:#000;

}